<!DOCTYPE html>
<html>
  <head>
    <title>Authenticated</title>
  </head>

  <body>
    Authenticated successfully.

    <script>
      window.opener.postMessage(
        {
          id: '<%= userid %>',
          username: '<%= username %>',
          lvl: '<%= lvl %>',
          kdr: '<%= kdr %>',
          impact: '<%= impact %>',
          winPercentage: '<%= winPercentage %>',
          steamid: '<%= steamid %>',
          ok: true,
        },
        '<%= clientUrl %>'
      )

      window.close()
    </script>
  </body>
</html>
